@import url('https://fonts.googleapis.com/css2?family=DM+Mono:wght@300;400;500&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: DM Mono, serif;
  background-color:antiquewhite;
}

#numbersDisplayContainer {
  display: flex;
  justify-content: center;

}

#numbersDisplay {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 10px;
  width: 520px;
  height: 100px;
  background-color: white;
  border-left: 10px solid #e0e0e0;
  border-right: 10px solid #e0e0e0;
  border-top: 10px solid #e0e0e0;
    
}

#numberText {
  background-color: white;
  font-size: 65px;
}


#numpadContainer {
  display: flex;
  justify-content: center;

}

#wholeNumpad {
  display: flex;
  flex-direction: column;
  align-items: center;
  
}


#firstRow,
#secondRow,
#thirdRow,
#fourthRow,
#fifthRow {
  display: flex;
  justify-content: center;
  border-left: 10px solid #e0e0e0;
  border-right: 10px solid #e0e0e0;
  background-color: #e0e0e0;
}

#fifthRow {
 border-bottom: 10px solid #e0e0e0;
}

#firstRow {
  border-top: 10px solid #e0e0e0;
 }



.calcButton {
  background-color: white;
  width: 125px;
  height: 75px;
  border: 5px double #e0e0e0;
  border-radius: 10px;
  font-size: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
}

.calcButton:hover {
  background-color: #efefef;

}

.calcButton:active {
  background-color: #e0e0e0;
  color:#5a5a5a

}

.biggerbutton {
  width: 250px;
  background-color: aliceblue;
}

.biggerbutton:hover {
  background-color: lightcyan

}

.biggerbutton:active {
  background-color: lightblue
}